html {
  height: 100vh;
}

body {
  display: flex;
  font-family: 'Poppins' sans serif;
  font-size: 1em;
  background-color: #e7f1f1;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#9744be, #f7e4bf);
  width: 60%;
}

h1 {
  display: flex;
  justify-content: center;
  text-shadow: 2px 3px black;
  align-items: center;
  color: white;
  font-size: 65px;
  margin: 150px 0px 45px 0px;
}

h2 {
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 0px 8px 0px;
  text-shadow: 2px 3px black;
}

img.emojione {
  margin: 0px;
  display: inline;
}

span.player-emoji {
  margin: 0px;
  display: inline;
  font-size: 75px;
  vertical-align: middle;
  line-height: 2;
}

.rules {
  font-size: 1.15em;
  line-height: 0.5;
}

.show-score {
  display: flex;
  justify-content: center;
  font-size: 2em;
  width: 200px;
  align-items: flex-start;
}

.human,
.computer {
  font-size: 2em;
  margin: 15px 0px 15px 0px;
}

.left-aside,
.right-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 22%;
  background-image: linear-gradient(#f7e4bf, #9744be);
}

.tagline {
  display: flex;
  padding: 10px;
  font-size: 3em;
  text-shadow: 2px 3px black;
  justify-content: center;
  color: white;
}

.user-cpu,
.user-human {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 6px;
  border-color: greenyellow;
  border-style: double;
  border-radius: 8px 8px;
  width: 250px;
  height: 350px;
  margin: 300px 0px 50px 0px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
}

.battle-ground {
  display: flex;
  width: 500px;
  justify-content: center;
  margin: 50px 10px 0px 10px;
}

.rules-classic,
.rules-difficult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9744be;
  width: 45%;
  margin: 15px 0px 150px 0px;
  border-width: 2px;
  border-color: greenyellow;
  border-style: double;
  border-radius: 8px 8px;
}

.choose-classic-btn,
.choose-difficult-btn,
.change-game-btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  /* display: inline-block; */
  /* font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif; */
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 24px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.choose-classic-btn:hover,
.choose-difficult-btn:hover,
.change-game-btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.game-fighter {
  height: 150px;
  width: 150px;
  margin: 0px 6px 6px 0px;
  cursor: pointer;
}

/* innerHTML to display the fight results */
.display-fight-results {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fighter-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
