html {
  height: 100vh;
}

body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  background-color: #e7f1f1;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#9744be, #f7e4bf);
  width: 900px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 65px;
}

h2 {
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

p {
  font-size: 1em;
  line-height: 0.8;
}

.left-aside,
.right-aside {
  display: flex;
  justify-content: center;
  width: 20%;
  background-image: linear-gradient(#f7e4bf, #9744be);
}

.user-cpu,
.user-human {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  margin: 30px 0px 0px 0px;
}

.battle-ground {
  display: flex;
  width: 500px;
  justify-content: center;
  margin: 50px 10px 0px 10px;
}

.tagline {
  display: flex;
  font-size: 1.75em;
  justify-content: center;
  color: white;
}

.game-fighter {
  height: 150px;
  width: 150px;
  margin: 0px 6px 6px 0px;
}

.rules-title {
  font-size: 2em;
}

.rules-classic,
.rules-difficult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9744be;
  width: 45%;
  margin: 25px 0px 25px 0px;
}

.choose-classic-btn,
.choose-difficult-btn {
  background-color: #ffffff;
  color: #9744be;
  font-family: 'Poppins', sans-serif;
  width: 240px;
  height: 45px;
  font-size: 25px;
  font-weight: 250;
  border-radius: 1px 50px;
  font-variant: common-ligatures;
  border: none;
}
/* innerHTML to display the fight results */
.display-fight-results {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fighter-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  border-style: double;
  border-color: chartreuse;
}

.hidden {
  display: none;
}

img.emojione {
  margin: 0px;
  display: inline;
}

span.player-emoji {
  margin: 0px;
  display: inline;
  font-size: 65px;
  vertical-align: middle;
  line-height: 2;
}
